*{
  margin: 0;
}

.app{
    background-color: #fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  padding-left: 20%;
  display: flex;
  justify-content: space-between;
}

.bottom{
  position: sticky;
  bottom: 0;
}

.sorry{
  z-index: 1;
  background-color: rgb(240, 239, 239);
  text-align: center;
  padding: 20px;
  padding-bottom: 25px;

}

.app__headerImage{
  object-fit: contain;
  height: 50px;
}

.userInfo{
  background-color: red;
  border: 1px solid red;
}
.app__post{
  padding: 20px;
}

.app__signup{
  display: flex;
  flex-direction: column;
}